@model VirtualClassroom.WEB.Models.AddClassWorkViewModel

@{
    ViewData["Title"] = "Create";
}

<flash dismissable="true" />
<h2>Edit</h2>

<h4>Classwork</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditClasswork" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Myfile" class="control-label"></label>
                <input asp-for="Myfile" class="form-control" type="file" />
                <span asp-validation-for="Myfile" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="LimitDate" class="control-label"></label>
                <input asp-for="LimitDate" class="form-control" type="date" />
                <span asp-validation-for="LimitDate" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="EditClasswork" class="btn btn-primary" />
                <a asp-action="ClassWorkUser" class="btn btn-success">Back to List</a>
            </div>

        </form>
    </div>
</div>

